@import './semantic/semantic.less';

#root {
    width: 100%;
    height: 100%;
}

#landing {
    background: url("../images/charity.jpg") no-repeat fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    background: url("../images/logo.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

